# Core scientific libraries
numpy==1.26.4
pandas==2.2.2
scipy==1.13.1

# Image processing and computer vision
opencv-python==4.11.0.86
scikit-image
matplotlib==3.9.2
Pillow

# Machine learning
scikit-learn==1.4.2
imbalanced-learn
joblib

# Deep learning / model loading (if used)
protobuf==4.25.3

# Web server and API
Flask==2.3.3
Flask-SQLAlchemy==3.1.1
python-dotenv

# GUI (if using PyQt for interaction)
PyQt5==5.15.10
PyQtWebEngine==5.15.6

# Utilities
tqdm
requests
